<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiker's Paradise</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body >
    <!--Navbar -->
    <nav  class="navbar shadow fixed-top navbar-expand-sm bg-light navbar-dark justify-content-end" style="margin-bottom: 30px;">
        <h2><a class="navbar-brand" href="/" style="color: #555;">HIKER's PARADISE</a></h2>
        <a href="/camps/new" class="btn btn-primary ml-auto mr-1" >Add new camp</a>
        
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav text-right">
                 <li class="nav-item">
                    <a class="nav-link" href="/camps" style="color: #555;">Explore</a>
                 </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #555;">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #555;">Sign Up</a>
                </li>
            </ul>
        </div>
     </nav>
  