<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiker's Paradise</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <!--Navbar -->
    <nav class="navbar shadow fixed-top navbar-expand-sm bg-light navbar-dark justify-content-end" style="margin-bottom: 70px;">
        <a class="navbar-brand mr-auto" href="/" style="color: #555; font-family: cursive;"><strong> HIKER'S PARADISE</strong></a>
        
        <a class="nav-link link ml-auto" href="/camps" style="color: #555;">Explore</a>
        
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav text-right">
                
                <% if(!currentUser) { %>
                    <li class="nav-item">
                        <a class="nav-link link" href="/login" style="color: #555;">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link" href="/register" style="color: #555;">Sign Up</a>
                    </li>
                <% } else {  %>
                    <li class="nav-item">
                        <a class="nav-link link" href="#" style="color: #555;">Signed In As <span style="font-family: cursive;"><%= currentUser.username %></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link" href="/logout" style="color: #555;">Log Out</a>
                    </li>
                <% } %>
            </ul>
        </div>
     </nav>
  