<!DOCTYPE html>
<html>
    <head>
        <title>Hiker's Paradise</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/home.css">
        
    </head>
    <body>
    
    <div id="landing-header">
      <h1 id="heading">HIKER'S PARADISE</h1>
      <h3 id="slogan">Where life happens</h3>
      <a href="/camps" class="btn btn-lg btn-light" id="viewButton">View All Campgrounds</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<%- include('partials/footer') %>