body {
    background: #fffdf9;
    font-size: 62.5%;
    
}

nav {
    margin-bottom: 10px;
}

#desc {
    font-size: 1.001rem;
}

#heading {
    font-size: 2rem;

}

label {
    font-size: 1.0001rem;
}

.link {
    font-size: 1.2rem;
}

.img {
    
    width:  330px;
    height: 360px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#card:hover {
    transform: translateY(-2%);
}

#card {
    /* position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1; */
    width:100%;
    transition: all 0.3s;
    
}

